@import "tailwindcss";

:root {
  --Background1: #e2e8f0;
  --Background2: #f1f5f9;
  --Background3: #fafafa;
  --Text1: #09090b;
  --Text2: #334155;
  --Text3: #64748b;
  --Yes: #65a30d;
  --No: #dc2626;
  --Accent1a: #60a5fa;
  --Accent1b: #2563eb;
  --Accent2a: #a78bfa;
  --Accent2b: #7c3aed;
}

@theme inline {
  --color-background1: var(--Background1);
  --color-background2: var(--Background2);
  --color-background3: var(--Background3);
  --color-text1: var(--Text1);
  --color-text2: var(--Text2);
  --color-text3: var(--Text3);
  --color-yes: var(--Yes);
  --color-no: var(--No);
  --color-accent1a: var(--Accent1a);
  --color-accent1b: var(--Accent1b);
  --color-accent2a: var(--Accent2a);
  --color-accent2b: var(--Accent2b);
  --color-alwaysWhite: #fafafa;
  --color-alwaysBlack: #09090b;
  --font-sans: var(--font-ubuntu-sans);
  --font-mono: var(--font-ubuntu-mono);
  --font-display: "Ubuntu Sans", "sans-serif";
  --font-special: "Yanone Kaffeesatz", sans-serif;
}

[data-theme="dark"] {
  --Background1: #09090b;
  --Background2: #18181b;
  --Background3: #3f3f46;
  --Text1: #fafafa;
  --Text2: #e2e8f0;
  --Text3: #94a3b8;
  --Yes: #a3e635;
  --No: #f87171;
  --Accent1a: #2563eb;
  --Accent1b: #60a5fa;
  --Accent2a: #7c3aed;
  --Accent2b: #a78bfa;
}

body {
  background: var(--color-background1);
  color: var(--text1);
}

[data-theme] * {
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease, fill 0.3s ease, stroke 0.3s ease;
}

body::-webkit-scrollbar {
  width: 0;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(120, 120, 120, 0.3);
  border-radius: 6px;
  border: 3px solid transparent;
  background-clip: content-box;
}
